<div class="ui navbar">
  <div class="ui button basic green">
    <li><%= link_to 'Home', artists_path %></li>
  </div>
  <div class="ui button basic green">
    <li><%= link_to 'Top 100', static_pages_billboard_path %></li>
  </div>
</div>